# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Output dir
Debug/
Release/

# Eclipse CDT project files
.cproject
.project

# Doxygen dir
doc/html
doc/latex